@model Services.Models.CreateProjectRequest
@{
    ViewData["Title"] = "CreateNewProject";
}

@*<h1>CreateNewProject</h1>*@

<form method="post" asp-controller="Project" asp-action="CreateNewProject">

    <div asp-validation-summary="All" class="text-left">

        <label asp-for="@Model.ProjectName">Naziv projekta:</label><br />
        <input asp-for="@Model.ProjectName" placeholder="Naziv projekta" />  <span asp-validation-for="@Model.ProjectName"></span><br />

        <label asp-for="@Model.StartDate">Datum početka projekta:</label><br />
        <input asp-for="@Model.StartDate" placeholder="Datum početka" />  <span asp-validation-for="@Model.StartDate"></span><br />

        <label asp-for="@Model.EndDate">Datum završetka projekta::</label><br />
        <input asp-for="@Model.EndDate" placeholder="Datum završetka" />  <span asp-validation-for="@Model.EndDate"></span><br />

        <label asp-for="@Model.ManagerName">Ime i prezime nadležnog menadžera:</label><br />
        <input asp-for="@Model.ManagerName" placeholder="Menadžer" />  <span asp-validation-for="@Model.ManagerName"></span><br />

        <button type="submit" class="button" value="Submit"><span>Sačuvaj</span></button>
    </div>

</form>
