@*@model List<DomainModel.Project>*@
@model PaginatedList<DomainModel.Project>
@{
    ViewData["Title"] = "Home Page";


}

<head>
    <link href="..\css\nlb.css" rel="stylesheet" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    @*<p>Administriranje projekata</a>.</p>*@
</head>

@*<tr>
        <td>
            <div class="col-md-12" style="background-color:#27007D;margin-top:5px;margin-bottom:0px;">

                <img src="images/Logo_NLB_10mm_Simple_negative.png" class="img-responsive" alt="NLB Beograd Imenik" height="75px" width="180px" />

            </div>
            <div class="col-md-12" style="background-color:#99cd2c;margin-top:0px;margin-bottom:5px;">

                <h1 class="text-left" style="color:#ffffff;">Projekti</h1>
            </div>
        </td>
    </tr>*@




<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            <a asp-controller="Project" asp-action="CreateNewProject">Unesi novi projekat</a>
            |
            Pretraži po imenu: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Traži" class="btn btn-default" /> |
            <a asp-action="Index">Nazad na kompletnu listu</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProjectIDSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProjectNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Naziv</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ManagerNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Menadžer</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Datum početka</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Datum završetka</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Project)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManagerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID_Project">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID_Project">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID_Project">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>




@*<div class="col-6">
        <button class="button"><a asp-controller="Project" asp-action="CreateNewProject">Unesi novi projekat</a></button>
    </div>*@


@*<table style="width:100%; border:1px solid black; height:100%">
        <thead>
            <tr>
                <th>Project ID</th>
                <th>Naziv</th>
                <th>Datum početka</th>
                <th>Datum završetka</th>
                <th>Menadžer</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <td>@project.ID_Project</td>
                    <td>@project.ProjectName</td>
                    <td>@project.StartDate</td>
                    <td>@project.EndDate</td>
                    <td>@project.ManagerName</td>
                </tr>
            }
        </tbody>
    </table>*@
